= title("Админка &#8594; Базы данных &#8594; Организации")

%div.container
  = admin_menu("databases")
%div.container
  %div.content    
    %h2 Организации
    - if @orgs.total_entries > 0
      %p= "В базе данных <strong>#{@orgs.total_entries}</strong> #{Russian.p(@orgs.total_entries, "организация", "организации", "организаций")}"
      %table#higlight_table
        %colgroup
          %col
          %col{:width => "47%"}
          %col{:width => "11%"}
          %col{:width => "12%"}
          %col{:width => "7%"}
          %col{:width => "9%"}      
          %col{:width => "9%"}
        %tbody
          = render :partial => "org", :collection => @orgs
      = will_paginate(@orgs, :class => "pagination round-bottom-10")
    - else
      %p В базе данных нет организаций