- title(h(@org.name) + ' &#8594; Удаление')

%div.container
  %div.content.round-10
    %h2= h(@org.name)
    = org_menu("delete")
    %h3 Удалить организацию
    %p.help Введите краткое сообщение с причиной по которой вы решили удалить эту организацию. После рассмотрения вашего запроса Администратор приймет решение об удалении. ВАЖНО!!! Проверьте на предмет правильности свой e-mail адрес, в случае его некоректности запрос рассматриватся не будет.
    %div.remove-info 
      %p.title Данные для удаления
      %p <strong>Название организации:</strong> #{h(@org.name)}
    %div 
      %p !!! Обязательно введите причину удаления (в противном случае запрос будет отклонен)  
      - form_tag delete_org_path(@org), :method => "delete" do
        %div.tip.required{:title => "Обязательно напишите причину удаления"}= text_area 'request', 'msg', :rows => 3
        %dl.button
          %dt= submit_tag("Удалить", :class => "button")  
          %dd= back_link(:back)