- title('Запрос на добавление организации')

- content_for(:javascript) do
  = javascript_include_tag "jquery-wysiwyg"
  %script{:type => "text/javascript", :charset => "utf-8"}
    //<![CDATA[
    jQuery(function(){
    jQuery('#wysiwyg').wysiwyg({
    controls: {
    strikeThrough : { visible : false },
    indent : { visible : false },
    outdent : { visible : false },
    insertImage : { visible : false },
    separator06 : { visible : false }
    }
    });    
    });
    //]]  
- content_for(:css) do
  = stylesheet_link_tag "wysiwyg", :media => "screen, projection"

%div.container
  %div.content.create-org.round-10
    %h2 Запрос на добавление организации
    %p.help Ваша организация <strong>отсутствует</strong> в нашем справочнике? Немедленно заполняйте данную форму. После отправки запроса администрация рассмотрит его и примет решение о размещении <strong>Вашей компании</strong> в нашем каталоге.  В случае если у нас возникнут <strong>сомнения</strong> в корректности информации мы можем <strong>связаться с Вами по e-mail</strong> адресу для уточнения информации. Поэтому прежде чем отправлять запрос удостоверьтесь в актуальности e-mail адреса.<br/> !!! Выделенные поля <strong>обязательны</strong> для заполнения.
    - form_tag create_orgs_path, {:method => "post"} do
      %h3 Общая информация
      %dl.required
        %dt= label(:org, :name, "Название")
        %dd
          = text_field 'org', 'name'
          %span.requirement &#8592; Название организации - желательно сокращенное
      %dl.tip{:style => "height:190px;"}
        %dt= label(:org, :description, "Описание")
        %dd= text_area 'org', 'description', :rows => 3, :id => "wysiwyg"
      %dl.required
        %dt= label(:org, :town_id, "Город")
        %dd
          - cache("select_towns") do
            = select "org", "town_id", Town.find(:all, :order => "name ASC").collect { |t| [t.name, t.id] }, { :include_blank => true }
          %span.requirement &#8592; В каком городе работает организация
      %dl.required
        %dt= label(:org, :street_id, "Улица")
        %dd
          - cache("select_streets") do
            = select "org", "street_id", Street.find(:all, :order => "name ASC").collect { |s| [s.name, s.id] }, { :include_blank => true }
          %span.requirement &#8592; По какой улице находится организация
      %dl.required
        %dt= label(:org, :house, "Дом")
        %dd
          = text_field 'org', 'house'
          %span.requirement &#8592; Номер дома
      %dl
        %dt= label(:org, :email, "E-mail")
        %dd
          = text_field 'org', 'email'
          %span.requirement &#8592; E-mail адрес организации (напр. - user@example.com)
      %dl.last
        %dt= label(:org, :www, "Веб-сайт")
        %dd
          = text_field 'org', 'www'
          %span.requirement &#8592; Адрес web-сайта организации (напр. - http://www.example.com)
      %h3 Виды деятельности
      %p.help{:style => "margin-bottom:10px;"} Выберите те виды деятельности которыми реально занимается Ваша организация (не больше 5)
      = text_field_tag 'search', nil
      %span.requirement &#8592; Чтобы отфильтровать только определенные категории, введите пару начальных букв
      %script{:type => "text/javascript", :charset => "utf-8"}
        //<![CDATA[
        jQuery('#search').keyup(function() {
        var val = jQuery(this).val()  
        if (val == '')
        {
        jQuery('p.category').css("display","block");
        jQuery('span.subcategory').css("display","block");  
        } 
        else
        {
        jQuery('p.category').css("display","none");
        jQuery('span.subcategory').css("display","none");
        jQuery('span.subcategory[title*=' + val + ']').css("display","block");
        }        
        });
        //]]
      - cache("multiple_select_categories") do
        = multiple_select_categories
      %h3 Телефоны
      %div#phones
        = link_to_remote "+ Добавить строку", {:url => add_phone_path(:format => "js"), :method => :get, :class => "right_tip", :title => "Кликните СЮДА если хотите добавить еще несколько телефонов"}
        = render :partial => "shared/elements_form/enter_phones"
      %dl.button
        %dt=submit_tag("Добавить", :class => "button")
        %dd= back_link(:back)