- title('Личный кабинет')

%div.container.span-17
  %div.content.round-10
    %h2 Добро пожаловать, #{current_user.login}!
    = user_menu("index")
    %p Это Ваш "Личный кабинет". Здесь Вы можете управлять #{link_to "параметрами", settings_profile_path()} вашей учетной записи, просматривать #{link_to "Избранное", profile_favorites_path()}, контролировать процесс утверждения ваших запросов и многое другое.
    %p Если у Вас возникли проблемы, пожалуйста, посетите страницу "Помощь". Если эта информация Вам не помогла, попробуйте обратиться к администрации за помощью с Вашей проблемой.
    %p= "По вопросам размещения рекламы обращайтесь #{mail_to APP_CONFIG['admin_email'], "сюда", :encode => "hex"} ... или сюда &#8594; ICQ 457544616"
%div.span-7.last
  - cache("service_stat") do
    = stat_panel