= title("Админка &#8594; Словари &#8594; Пользователи с правом " + @role.name)

%div.container
  = admin_menu("databases")
%div.container
  %div.content    
    %h2= "Пользователи с правом #{@role.name}"
    - if @users.total_entries > 0
      %p= "Найдено <strong>#{@users.total_entries}</strong> #{Russian.p(@users.total_entries, "пользователь", "пользователя", "пользователей")}"
      %table#higlight_table
        %colgroup
          %col
          %col{:width => "27%"}
          %col{:width => "25%"}
          %col{:width => "25%"}        
          %col{:width => "10%"}
          %col{:width => "10%"}
        %tbody
          - @users.each do |user|
            %tr
              %td
                %span= link_to "&nbsp;", backend_user_path(user), :class => "edit", :title => "Редактировать пользователя"
              %td= link_to h(user.login), backend_user_path(user), :title => "Редактировать пользователя"
              %td= link_to h(user.name), backend_user_path(user), :title => "Редактировать пользователя"
              %td= h(user.email)
              %td{:style => "text-align:right;"}
                %span.date_create= Russian::strftime(user.created_at, "%d.%m.%Y")
              %td{:style => "text-align:right;"}
                %span.date_update= Russian::strftime(user.updated_at, "%d.%m.%Y")
      = will_paginate(@users, :class => "pagination round-bottom-10")
    - else
      %p Нет ни одного пользователя