- title('Реклама на сайте')

%div.container
  %div.content.round-10
    %h2 Реклама на сайте
    %p= "По вопросам размещения рекламы обращайтесь #{mail_to APP_CONFIG['admin_email'], "сюда", :encode => "hex"} ... или сюда &#8594; ICQ 457544616"
    %p= "Реклама на главной странице - блок 388x227px - 100 грн. в месяц"
    %p= "Повышение и выделение организации в списке - 15 грн. в месяц"
    %p= "Рекламного блок в карточке организации - 30 грн. в месяц. Возможно также размещение рекламы на страницах конкурентов, но приоритетное право все таки имеет владелец карточки"
