- title('Помощь')

%div.container
  %div.content.round-10
    %h2 Помощь
    %h3 Поиск по ключевому слову или телефону
    %p Форма поиска по ключевому слову или словосочетанию и по номеру телефона располагается в верхней части всех страниц сайта и предназначена для поиска организаций
    = image_tag("help/search.png")
    %h3 Результаты поиска по ключевому слову или телефону
    %p Страница результатов поиска по ключевому слову отображает найденные организации, названия которых содержат заданное для поиска ключевое слово, также поиск по ключевому слову находит организации помеченные определенным тегом - например: поиск по слову "волосы или стрижка" выдаст список парикмахерских и салонов, в названии которых отсутствуют данные слова, но они помечены данными тегами для улучшения качества поиска и упрощения доступа. В начале страницы показывается количество, ниже него — список организаций. 
    = image_tag("help/search_result.png")
    %p Если же в поле для поиска ввести номер телефона, то в результате получите организацию у которой есть такой телефон.
    = image_tag("help/search_result_by_phone.png")
    %p Кроме всего этого можно указать название улицы или название населенного пункта (села) в результате чего получите список организаций по определенной улице или в населенном пункте.
    %p Если количество найденных организаций превышает десять, список разбивается на несколько страниц, для навигации по которым служит навигатор.
    = image_tag("help/search_navigator.png")
    %h3 Поиск по рубрикатору
    %div{:style =>"float:left;"}= image_tag("help/navigator_by_category.png")
    %div{:style =>"float:left;width:250px;margin-left:15px;"} 
      %p Если необходимо произвести поиск организаций по категориям, на главной странице находится панель представляющая собой список категорий верхнего уровня и список подкатегорий (категорий второго уровня). Здесь в левой колонке вы можете выбрать необходимую категорию, в результате чего в правой появится список подкатегорий, далее после нажатия на любую из подкатегорий вы попадете на страницу с перечнем организаций.
      %p На странице со списком организаций в правой части находится меню в стиле "аккордеона" с аналогичным перечнем категорий и подкатегорий
    %div{:style =>"float:right;width:218px;"}= image_tag("help/navigator_accordion.png")
    %h3{:style => "clear:left;"} Избранное
    %p Для удобства работы посетитель сайта может отбирать интересующие его организации в Избранное. Для этого ему необходимо либо в результатах поиска, либо в списке организаций определенной категории, либо в карточке организации нажать на ссылку "Добавить в избранное", и сразу же без перезагрузки страницы организация окажется в Вашем личном справочнике. Получить доступ к Избранному можно из личного кабинета пользователя пройдя по ссылке <strong>Личный кабинет</strong> (в верхней правой части страницы) <strong>&#8594; Избранное</strong>. Удалить же из Избранного можно нажав на ссылку <strong>Удалить из избранного</strong> и подтвердить свое решение во всплывающем окне.
    %h3 Детальная форма организации
    = image_tag("help/org_cart.png")
    %p Детальная форма компании имеет несколько вкладок: Карточка, Телефоны, Виды деятельности, Отзывы, Тэги, Редактирование, Удалить и Добавить в избранное.
    %p В «Карточке» отображаются основные сведения о фирме: адрес, адрес электронной почты, сайта, рубрики видов деятельности, полное описание. Во вкладке "Телефоны" находится список телефонов, а также если вы зарегистрированный пользователь функции по добавлению, редактированию или удаление телефонов. В следующей вкладке "Виды деятельности" можно найти перечень того чем занимается организация, и также как в Телефонах, возможности по редактированию Видов деятельности. Вкладка "Отзывы" открывает возможности для комментирования. Вкладка "Тэги" содержит список ассоциация, упрощающих поиск и доступ к организациям. Вкладка "Редактирование" как видно из названия дает возможность изменить общую информацию об организации, а "Удалить" - соответственно сделать запрос на удаление.  
    %h3 Добавление компании
    %p Страница «Добавить организацию» позволяет внести в базу сайта сведения об отсутствующей в ней организации. Для этого необходимо заполнить все требуемые основные поля (они выделены другим цветом) и, если нужно, второстепенные и отправить запрос администратору сайта. После уточнения данных операторами «Желтых Страниц» организация появится в рубрикаторе и в результатах поисковых запросов.
    